* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header,
#tatu,
#titulotema,
#cont{
    padding: 16px;
    background-color: orange;
    color: #fff;
}

header h1,
#titulotema,
#cont,
#tatu {
    font-weight: normal;
}




header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}

#tatu,
#titulotema {
    font-size: 24px;
}

header nav li a {
    color: #fff;
    text-decoration: none;
}

#tatu,
#cont,
#titulotema{
    text-align: center;
}

.conteiner {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}



header .conteiner,
section .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header,
footer,
#tatu,
#titulotema,
#cont {
    font-family: 'Yellowtail', cursive;
}

body,
form button,
input,
textarea {
    font-family: 'Cormorant Garamond', serif;
}

input,
textarea {
    font-weight: bold;
}

section .conteiner {
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 16px;
}

.conteiner h3 {
    margin-bottom: 16px;
}

#studio {
    width: 336.09px;
    height: 491px;
}

.conteiner img {
    margin-left: 32px;
    height: 450px;
    margin-right: 32px ;
}

.tatooadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

ul.tatooadores {
    list-style-type: none; /* neste caso n consegui utilizar o comando text-decoration none; de nenhuma maneira, mas encontrei este, focado em list "acredito eu"*/
}

.tatooadores li {
    flex: 0 0 33.33
    padding 10px;
    box-sizing: border-box; 
}

.tatooadores li figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

ul.tatooadores li figcaption {
    font-weight:bold;
    margin-top: 10px;
    list-style-type: none;

}


.tatooadores img {
    margin-top: 8px;
    width: 230px;
    height:220px ;
    margin-left: 16px;
}


.redes img {
    height: 24px;
    margin-right: 0px; /*trocar imagens, parecem ser maior na horizontal*/
}

.redes li {
    display: inline;
    margin-left: 24px;
}

.redes li a {
    text-decoration: none;
}

.modelos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

ul.modelos {
    margin-left: 100px;
    list-style-type: none; /* neste caso n consegui utilizar o comando text-decoration none; de nenhuma maneira, mas encontrei este, focado em list "acredito eu"*/
}

.modelos li {
    flex: 0 0 33.33
    padding 10px;
    box-sizing: border-box; 
}

.modelos li figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

ul.modelos li figcaption {
    font-weight:bold;
    margin-top: 10px;
    list-style-type: none;

}

.modelos img {
    margin-top: 8px;
    width: 230px;
    height:220px ;
    margin-left: 39px;
    margin-right: 45px;
}



.metodo-contato {
    display: flex;
    justify-content: space-between;
}

#cont,
#tatu { 
    max-width: 100%;
}

.conteiner {
    position: relative;
}

.imagem {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.imagem:hover {
    transform: scale(1.8);
    z-index: 1;
}

#filial {
    margin-right: 155px;
}

#reto {
    margin-left: 136px;
}

.reparo {
    width: 100%;
    margin: 0 auto;
}

form input,
form textarea,
fomr text {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 100px;
}

form button {
    border: none;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
    background-color: orange;
    width: 320px;
    height: 36px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(251, 183, 57);
}

input:focus, textarea:focus {
    outline-color: orange;
}

footer {
    padding: 16px 0;
    background-color: orange;
    color: #fff;
}

#acompanhe {
    margin-left: 97px; /*necessrio aprender fazer de outra maneira*/
    margin-bottom: 16px;
}



#fale,
#fil {
    margin-bottom: 16px;

}

/*dificuldade em organizar os comando background, estão diferentes dos headre e footer.*/
